@charset "UTF-8";




body {
    background-image: url(../imagens/wallpaper005.jpg);
    width: 100%;
    height: 100%;
}



div.quadrado {
    border: 1px solid;
    width: 300px;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(185, 255, 185);

    
}



div.quadrado#unico {

        display: block;
        margin: auto;   
}


div#q1 {

    background-color: skyblue;
    margin-left: 16%;
    
}

div#q2 {

    background-image: linear-gradient(to bottom, yellow, orange);
}

div#q3{

    background-image: url('../imagens/pattern001.png');
    
}


div#q4 {
    background-image: url(../imagens/pattern002.png);
}

div#q5 {
    background-image: url(../imagens/pattern003.png);
    margin-left: 15.7%;
    margin-top: 0.5%;
}

div#q6 {
    background-image: url(../imagens/pattern004.png);
}

div#q7 {
    background-image: url(../imagens/wallpaper001.jpg);
    
}